<div class="template-list-container">
    <div class="logo"><fwk-image src="/core/resources/base.svg"></fwk-image></div>
    <div class="avatar"><fwk-image src="{avatar}" circle="true" border="1"></fwk-image></div>
    <div class="actions">{actions:user}</div>
    <div class="menu"><fwk-menu id="fwk_menu" current="{current_menu}"><div slot="content">{menu}</div></fwk-menu></div>
    <div class="breadcrumb"><fwk-breadcrumb id="fwk_breadcrumb" color="blue"><div slot="content">{breadcrumb}</div></fwk-breadcrumb></div>
    <div class="body">{body}</div>
</div>