<fwk-dropbutton id="fwk_dropbutton_user" value="{username}" color="blue" body-align="right" body-max-height="300">
    <i slot="icon" class="fas fa-user-cog"></i>
    <div slot="content">
        <fwk-button id="fwk_dropbutton_user_tasks" value="{tasks}" color="blue" function="userTodo">
            <i slot="icon" class="fas fa-tasks"></i>
        </fwk-button>
        <fwk-button id="fwk_dropbutton_user_alerts" value="{alerts}" color="blue" function="UserAlerts">
            <i slot="icon" class="fas fa-bell"></i>
        </fwk-button>
        <fwk-button id="fwk_dropbutton_user_messages" value="{messages}" color="blue" function="userMessages">
            <i slot="icon" class="fas fa-envelope"></i>
        </fwk-button>
        <fwk-button id="fwk_dropbutton_user_account" value="{account}" color="blue" function="userAccount">
            <i slot="icon" class="fas fa-user"></i>
        </fwk-button>
        <fwk-button id="fwk_dropbutton_user_logout" value="{logout}" color="blue" function="userLogout">
            <i slot="icon" class="fas fa-sign-out-alt"></i>
        </fwk-button>
    </div>
</fwk-dropbutton>