/**
 * CSS - DEFAULT - ALERTS
 * 
 * Estilos de página de alertas
 *
 * @pmonteiro (yyyy-mm-dd)
 */ 

 .alerts-container {
    position: fixed;
    top: 91px;
    left: 0vw;
    width: 100vw;
    min-width: 300px;
    height: calc(100vh - 91px);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "body";
    background-color: var(--alerts-background-color);
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    transition: top 0.3s;
}
.alerts-container.no-top-bar {
    top: 51px;
    height: calc(100vh - 51px);
}
.alerts-container.swipe {
    transition: all .3s;
}
.alerts-container.hide {
    display: none;
}
.alerts-container .body {
    grid-area: body;
    box-sizing: border-box;
}
/* --- END */